/* Write your code here. */
.faq-container {
    border: 1px solid #e4e7eb;
    padding: 25px;
    border-radius: 16px;
    margin-bottom: 15px;
}

.question-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question {
    font-size: 18px;
    font-weight: 600;
    color: #52606d;
    margin: 0;
    margin-right: 15px;
}

.separator {
    border: 1px solid #d7dae6;
    margin-top: 15px;
}

.answer {
    font-size: 14px;
    font-weight: 500;
    color:  #9aa5b1;
}

.icon {
    width: 20px;
}

.button {
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}